/* Md. Lutfullahil Labib */
/* Got Help from google & figma.. ! ! */

/* Global */
* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Top-Header */
#top {
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/banner.png);
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.850)), url('images/banner.png'); */

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header {
    color: white;
    /* border: 5px solid red; */
    position: absolute;
    margin: 15%;
    text-align: center;
}

.head {
    display: inline-block;
    margin: 0 auto;
    padding: 1%;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    /* text-align: center; */

}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.head p {

    padding: 0 15%;
}

.bttn {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    text-decoration: none;
    color: white;
    background: #FF5959;
    border-radius: 5px;
    padding: 13px 25px;
    margin-top: 10%;

}

/* Top-Header-End */
/* Donate Today */

#donate-t {
    width: 100%;
    height: 100vh;
    /* background-color: white; */
    /* position: relative; */
}

.headline {
    /* margin-top: 120px; */
    margin: 8%;
    margin-bottom: 0;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;

}

.headline h2 {
    padding-bottom: 2%;
}

.headline p {

    text-align: center;
    color: #707070;
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    /* line-height: 25px; */
    /* letter-spacing: 1px; */
}

.box {
    display: flex;
    justify-content: center;
}

.n1 {
    margin-inline: 1%;
    padding: 50px 30px;
    background: #dfdada;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}

#n2 {
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
}

.other {
    margin-top: 4%;
}

#place {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    text-align: center;
    /* color: #B3B3B3; */

    display: block;
    margin: 0 auto;
    /* width: 550px; */
    width: 55%;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
}

.other .btn {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    text-decoration: none;
    color: white;
    background: #FF5959;
    border-radius: 5px;
    padding: 13px;
    text-align: center;

    margin: 30px auto;
    width: 120px;
}

/* Donate Today-End */

/* Our Donate Plan */

.donate-plan {
    margin-bottom: 100px;
}

.head-text {
    text-align: center;
}

.cart {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin: 40px;
}

.food {
    background-color: #4f9da64d;
    padding: 50px 20px;
    border-radius: 10px;
}

.shelter {
    background-color: #fd47474b;
    padding: 50px 20px;
    border-radius: 10px;
}

.education {
    background-color: #f8803049;
    padding: 50px 20px;
    border-radius: 10px;
}

h3 {
    padding: 15px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #121212;
}

/* Our Donate Plan-End */

/* Extra */
/* Extra-End */

/* Get My updates */


.mail {
    background-color: #FFF4D6;
    /* justify-content: space-around; */
    margin: 40px 280px;
    padding: 70px 50px;
    text-align: center;
}

#em {
    border: none;
    background-color: #d1d1d1;
    width: 275px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    padding-left: 20px;
}

#button {
    border: none;
    background-color: #FF5959;
    width: 157px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    color: white;
    font-weight: bold;
}

/* Get My updates-End  */

/* Footer */
#foot {
    background-color: black;
    text-align: center;
    color: white;
    padding: 2%;
    margin-top: 100px;

}

.p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}


#fff {
    color: #FF5959;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 40px;
}

#foot small {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

/* The End */